@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: Raleway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body{
  height: 100%;
  width: 100%;
}
#main {
  background: linear-gradient(45deg, black, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  gap: 2rem;
  /* overflow: hidden; */
}

.clock {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 6px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock .number {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(var(--rotation));
  top: 5px;
  /* transform: rotate(calc(30deg * var(--num))); */
  position: absolute;
  inset: 0px;
  text-align: center;
  font-size: 1.7rem;
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
  
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .number b {
  transform: rotate(calc(-30deg * var(--num)));
  display: inline-block;
}

/* transform: rotate(var(--rotation));
  font-size: 2rem;} */

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::before {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.clock .hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: rgb(17, 0, 252);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: #000;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}



/* Background Styles Only */

.side-links {
  position: absolute;
  top: 15px;
  left: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-youtube {
  background-color: indigo;
}

.side-link-twitter {
  background-color: navy;
}

.side-link-github {
  background-color: #6e5494;
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

.side-link-icon {
  color: white;
  font-size: 30px;
}



/* theme button  */


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.btn {
  --width: 150px;
  --timing: 2s;
  border: 0;
  width: var(--width);
  padding-block: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background: rgb(0, 0, 0);
  transition: all 0.2s;
  cursor: pointer;
  /* position: absolute; */
  top: 35.3rem;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, red, yellow,green,blue) 1;
  border-radius: 3px;
}



.btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(250, 82, 82),
    rgb(250, 82, 82) 16.65%,
    rgb(190, 75, 219) 16.65%,
    rgb(190, 75, 219) 33.3%,
    rgb(76, 110, 245) 33.3%,
    rgb(76, 110, 245) 49.95%,
    rgb(64, 192, 87) 49.95%,
    rgb(64, 192, 87) 66.6%,
    rgb(250, 176, 5) 66.6%,
    rgb(250, 176, 5) 83.25%,
    rgb(253, 126, 20) 83.25%,
    rgb(253, 126, 20) 100%,
    rgb(250, 82, 82) 100%
  );
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}




.mode{
  padding: 16px;
  /* position: absolute; */
  top: 35rem;
  left: 53rem;
  border-radius: 50%;
  background-color: #000;
  fill: #fff;
}


.mode i svg{
  height: 20px;
  width: 20px;
  /* fill: #fff; */
}